<style>
  body{
    border-radius: 36px;
    background: #61cbea;
    box-shadow:  14px -14px 43px #4ea2bb, -14px 14px 43px #74f4ff;
    padding: 30px;
    margin-top: 10%;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
  }

@media only screen and (max-width: 700px)
{
  body{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}

</style>
<body>
     <h4 class="text-center">Login</h4>

    <form  method="POST" action="/sendMail" onsubmit="storeName()">

        <div class="form-group" >
            <label for="exampleInputEmail1">Full Name</label>
            <input type="text" class="form-control" name="name" id="userName" aria-describedby="emailHelp" required placeholder="Enter Name" >
          </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required placeholder="Enter Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

        <div class="text-center">
          <button type="submit" id="otpBtn" class="btn btn-info btn-block">Get OTP!</button>
        </div>
    </form>

    <script>
      localStorage.removeItem('userName');
      function storeName()
      {
            let userName = document.getElementById('userName').value;
        localStorage.setItem('userName', userName);
      }
    </script>
</body>